---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects | Jonathan Diaz" sideBarActiveItemID="projects">
  <div class="mb-6">
    <h1 class="text-4xl font-bold mb-2">Projects</h1>
  </div>

  <HorizontalCard
    title="Coming Soon"
    img="/post_img.webp"
    desc="Projects and work samples to be added."
    url="#"
  />
</BaseLayout>
