---
interface Props {
  title: string;
  summary: string;
  stack: string[];
  url: string;
}

const { title, summary, stack, url } = Astro.props;
---

<a
  href={url}
  class="block p-4 rounded-xl bg-base-200 hover:bg-base-300 shadow-md hover:shadow-lg hover:-translate-y-0.5 transition duration-300 border border-base-300 hover:border-base-content/10"
>
  <h3 class="font-bold text-lg mb-1">{title}</h3>
  <p class="text-sm text-base-content/80 mb-3">{summary}</p>
  <div class="flex flex-wrap gap-1.5">
    {stack.map((tech) => (
      <span class="badge badge-outline badge-sm">{tech}</span>
    ))}
  </div>
</a>
